body {
    margin: 0 auto;
    width: 1920px;
}

.header {
    background-color: black;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 1024px;
}

.navigation {
    display: flex;
}

.logo {
    margin-left: 376px;
    margin-top: 40px;
}

.logo-link {
    display: block;
    float: left;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-top: 62px;
    margin-left: 219px;
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.menu-item {
    list-style-type: none;
    padding-right: 30px;
}

.menu-item-link {
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
}

.menu-item-link:hover {
    color: #c7b299;
}

.menu-item-link:active {
    color: #ccc;
}

.purchase {
    margin-left: 63px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.cart {
    display: block;
    width: 18px;
    height: 24px;
    text-decoration: none;
    background-image: url(../img/icon-cart.png);
    background-size: cover;
    background-position: center;
    margin-right: 28px;
}

.search {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/icon-search.png);
    background-color: #393c3e;
    background-size: cover;
    border: transparent;
}

.main-header {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.H2 {
    display: block;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 500;
    margin-top: 300px;
    text-align: center;
}

.H1 {
    display: block;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    margin-top: 14px;
}

.slogan-txt {
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 562px;
}

.get-started-btn {
    display: block;
    text-decoration: none;
    width: 170px;
    min-height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    text-align: center;
    align-self: center;
    margin-left: 170px;
    margin-top: 52px;
}

.get-started-btn:hover {
    background-color: #d2c1ad;
}

.get-started-btn:active {
    background-color: #B0C4DE;
}

.btn-txt {
    display: block;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
    padding-top: 15px;
}

.arrow {
    display: block;
    text-decoration: none;
}

.left {
    fill: #a2a19f;
    opacity: 0.5;
    position: absolute;
    margin-top: 395px;
    margin-left: -530px;
}

.left:hover {
    fill: #d2c1ad;
}

.left:active {
    fill: #B0C4DE;
}

.right {
    fill: #a2a19f;
    opacity: 0.5;
    position: absolute;
    margin-top: 390px;
    margin-left: 480px;
}

.right:hover {
    fill: #d2c1ad;
}

.right:active {
    fill: #B0C4DE;
}

.slides {
    display: flex;
    position: absolute;
    margin-top: 855px;
}

.dots {
    display: block;
    text-decoration: none;
    padding-right: 10px;
}

.dot {
    display: block;
    fill: #949392;
    opacity: 0.5;
}

.dot:hover {
    background-image: url(../img/dot-selected.png) no-repeat;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
}

.design,
.development,
.customization,
.marketing {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 266px;
    margin-bottom: 80px;
}

.design {
    margin-left: 376px;
}

.marketing {
    margin-right: 376px;
}

.service-icon {
    display: block;
    fill: #555555;
    align-self: center;
}

.service-header {
    display: block;
    color: #555555;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.service-header:hover {
    color: #c7b299;
}

.service-txt {
    display: block;
    text-align: center;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.line {
    fill: rgb(241, 238, 233);
    align-self: center;
}

.service-icon:hover,
.line:hover {
    fill: #c7b299;
}

.realization {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fbfaf8;
}

.realization-header {
    display: block;
    color: #555555;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
}

.realization-txt {
    display: block;
    text-align: center;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 757px;
    align-self: center;
}

.browsers-img {
    margin-top: 30px;
    width: 1230px;
    min-height: 482px;
    align-self: center;
    background-color: #fbfaf8;
    background-image: url(../img/browser-center.png),
                    url(../img/browser-left.png),
                    url(../img/browser-right.png);
    background-size: 770px 482px, 700px 400px, 700px 400px;
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
}